.title-section {
  padding: 6.4rem 3.2rem 0 3.2rem;
  max-width: 68rem;
  margin: 0 auto;
}

.title-section h1 {
  margin: 0;
  font-size: 8rem;
  color: #142233;
}

.title-section p {
  font-size: 2.6rem;
  color: #506073;
}

.cards-section {
  background-color: #F5F7FA;
  padding: 6.4rem 3.2rem 6.4rem 3.2rem;
  box-shadow: inset 0 0.1rem 0.4rem 0 rgba(0, 0, 0, 0.1);
  min-height: 50vh;
}

.cards-section::before, body::before, .cards-section::after, body::after, #cards-container::before, #cards-container::after{
  display: table;
  content: "";
}

.cards-section::after, body::after, #cards-container::after {
  clear: both;
}

.search-bar {
  display: grid;
  grid-template-columns: 3.5rem auto;
  padding: 1rem 1.5rem 1rem 1.5rem;
  margin: 0 auto 5rem auto;
  max-width: 68rem;
  font-size: 3rem;
  border-radius: 1rem;
  border-style: none;
  background-color: white;
  color: #142233;
}

.search-bar input {
  width: 100%;
  line-height: 3rem;
  font-size: 3rem;
  border-style: none;
  background-color: transparent;
  color: #142233;
}

.search-bar input:focus {
  outline: none;
}

.search-bar span {
  font-family: "Material Symbols Outlined";
}

.filters {

  display: flex;
  margin: 0 auto 6.4rem auto;
  max-width: 68rem;
  flex-wrap: wrap;
}

.filters span{
  border-radius: 2rem;
  border-width: 0.2rem;
  border-style: solid;
  border-color: #3070BF;
  color: #3070BF;
  background-color: white;
  padding: 1rem 2rem 1rem 2rem;
  margin: 0 0.5rem 0.5rem 0;

}

.filters span:hover {
  cursor: pointer;
  color: white;
  background-color: #3070BF;
}

.filter.active {
  color: white;
  background-color: #3070BF;
}

#cards-container {
  list-style: none;
  max-width: 104rem;
  padding: 0;
  margin: 0 auto;
}

.card {
  transform: translateY(0);
  opacity: 1;
  transition: transform 2s ease, opacity 2s ease;
  border-radius: 1rem;
}

.card.active {
  transform: translateY(0);
  opacity: 1;
}

#cards-container li {
  float: none;
  display: block;
  margin: 0 0 3.2rem 0;
  background-color: white;
  padding: 5% 5% 0 5%;
  border-radius: 1rem;
  transition: box-shadow 0.3s, transform 1s ease, opacity 1s ease;

  box-shadow: 0 0.1rem 0.4rem 0 rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 0.1rem 0.4rem 0 rgba(0,0,0,0.2);
  -moz-box-shadow: 0 0.1rem 0.4rem 0 rgba(0,0,0,0.2);
}

#cards-container li:hover {
  cursor: pointer;
  box-shadow: 0 0.1rem 0.4rem 0.4rem rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 0.1rem 0.4rem 0.4rem rgba(0,0,0,0.2);
  -moz-box-shadow: 0 0.1rem 0.4rem 0.4rem rgba(0,0,0,0.2);
}

#cards-container li a {
  display: block;
  text-decoration: none;
  color: #142233;
}

.img-div {
  height: 20rem;
}

#cards-container li a img {
  border-radius: 0.2em;
  margin: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

#cards-container .description {
  padding: 1.6rem;
  overflow: hidden;
}

#cards-container h4 {
  font-weight: normal;
  font-size: 1.8rem;
  text-overflow: ellipsis;
  line-height: 1.8;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 0 0.4rem 0;
}

.icon {
  font-family: "Material Symbols Outlined";
  font-size: 1.8rem;
  word-spacing: -1.8rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: gold;
}

#cards-container .description span:nth-of-type(2) {
  color: rgb(61, 61, 61);
}

#cards-container .description span:nth-of-type(3) {
  float: right;
  color: #E1306C;
}

#cards-container .description div {
  display: block;
  margin-top: 4rem;
}

#cards-container .description img {
  display: inline-block;
  border-radius: 50%;
  width: 3rem;
}

#cards-container .description div span {
  display: inline-block;
  margin-left: 1rem;
}

#cards-container .description p {
  margin: 0;
  display: block;
  font-weight: 600;
}

#cards-container .description p:nth-of-type(2) {
  display: block;
  font-weight: 400;
}

@media only screen and (min-width: 42.8rem) {
  .title-section {
    padding: 8rem 4.3rem 0 4.3rem;
  }
  
  .title-section h1 {
    font-size: 8rem;
  }
  
  .cards-section {
    padding: 8rem 4.3rem 8rem 4.3rem;
  }

  #cards-container li {
    float: left;
    width: 44%;
    margin: 0 5% 5% 0;
    padding: 1.66% 1.66% 0 1.66%;
  }

  #cards-container li:nth-child(2n) {
    margin-right: 0;
  }
}

@media only screen and (min-width: 83rem) {
  .title-section {
    max-width: 102.4rem;
    padding: 9.6rem 4.3rem 0 4.3rem;
  }
  
  .title-section h1 {
    font-size: 10.2rem;
  }
  
  .cards-section {
    padding: 9.6rem 4.3rem 9.6rem 4.3rem;
  }

  #cards-container li {
    float: left;
    width: 30%;
    margin: 0 2.5% 2.5% 0;
    padding: 0.75% 0.75% 0 0.75%;
  }

  #cards-container li:nth-child(2n) {
    margin-right: 2.5%;
  }

  #cards-container li:nth-child(3n) {
    margin-right: 0;
  }
}