.profile-section {
  padding: 1rem 3.2rem 0 3.2rem;
  /* max-width: 68rem; */
  margin: 0 auto;
  border-radius: 1rem;
  background-color: #f5f7fa;
  box-shadow: inset 0 0.1rem 0.4rem 0 rgba(0, 0, 0, 0.1);
  min-height: 50vh;
  /* max-width: 104rem; */
  /* padding: 9.6rem 4.3rem 0 4.3rem; */
  /* float: left; */

}

.profile-section h2 {
  font-size: 3rem;
}

.profile-section p {
  font-size: 2rem;
  background-color: white;
  padding: 1rem 2rem;
  border-radius: 1rem;
}


.profile-card {
  float: none;
  display: block;
  margin: 0 0 3.2rem 0;
  /* background-color: white; */
  padding: 5% 5% 0 5%;
  border-radius: 1rem;
  transition: box-shadow 0.3s, transform 1s ease, opacity 1s ease;

  box-shadow: 0 0.1rem 0.4rem 0 rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 0.1rem 0.4rem 0 rgba(0,0,0,0.2);
  -moz-box-shadow: 0 0.1rem 0.4rem 0 rgba(0,0,0,0.2);
}

.grid-container {
  display: flex;
  flex-flow: row wrap;
  /* column-gap: auto; */
  justify-content: space-between;
  margin: 0 auto;
}

.profile-heading-left {
  padding: 0 2rem 0 0;
}

.profile-date-right {
  padding: 0 2rem 0 0;
}

@media only screen and (min-width: 83rem) {
  /* .profile-section {
    max-width: 102.4rem;
    padding: 9.6rem 4.3rem 0 4.3rem;
  } */

  .grid-container {
    /* margin: 0 auto; */
    /* max-width: 104rem; */
    margin: 0 8rem 0 8rem;
  }
/* 
  .profile-heading-left {
    padding: 0 9rem 0 9rem;
  }

  .profile-date-right {
    padding: 0 9rem 0 9rem;
  } */
}

