doctype html

html
  head
    title Welcome to My Website
    script(src="../public/javascripts/welcome.js")
    link(rel="stylesheet", href="../public/stylesheets/welcome.css")
  body
    include navbar
    h1 #{message} 
    p Thank you for visiting!